@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "noto sans TC";
  background-color: #001E4A;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 20px;
}

.header {
  padding: 0 35px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_logo {
  width: 120px;
  height: 40px;
  position: relative;
  display: block;
}

.header_logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
}

.header_logo > img.scrolldown {
  opacity: 0;
}

.header.scroll {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.header.scroll .header_logo > img.init {
  opacity: 0;
}

.header.scroll .header_logo > img.scrolldown {
  opacity: 1;
}

.header .btn-download {
  background-color: #BD0008;
  border-radius: 100px;
  padding: 6px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}

.header .btn-download span {
  color: #fff;
  font-size: 14px;
  margin-right: 5px;
}

.header .btn-download:hover {
  background-color: #d91a23;
}

.header .download-list {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  display: none;
}

.header .download-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px 15px;
}

.header .download-list a img {
  width: 20px;
  margin-right: 8px;
}

.header .download-list a span {
  color: #7B7B7B;
  font-size: 13px;
}

.header .download-list a:hover {
  background-color: #ebebeb;
}

.header .btn-login {
  background-color: #BD0008;
  border-radius: 100px;
  padding: 6px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

.header .btn-login:hover {
  background-color: #d91a23;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
    padding: 0 15px;
  }
  .header_logo {
    width: 100px;
    height: 33px;
  }
}

@media screen and (max-width: 400px) {
  .header .btn-download {
    padding: 6px 10px 6px 15px;
    margin-right: 10px;
  }
  .header .btn-download span {
    font-size: 12px;
  }
  .header .btn-login {
    padding: 6px 10px;
    font-size: 12px;
  }
}

.banner {
  position: relative;
  width: 100%;
  padding-bottom: 45%;
  background-image: url(../img/banner_style.png), url(../img/bg-1.png);
  background-size: 100% auto, cover;
  background-position: center bottom, center center;
  background-repeat: no-repeat, no-repeat;
}

.banner h1 {
  position: absolute;
  width: 100%;
  margin: 0;
  color: #fff;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  left: 50%;
  top: 6.11vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner_pc {
  position: absolute;
  width: 50%;
  padding-bottom: calc(50% * 0.6845);
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  left: 50%;
  bottom: -2.36vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0 0 13px 13px;
  overflow: hidden;
}

.banner_pc_frame {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}

.banner_pc_main {
  position: absolute;
  width: 100%;
  padding-bottom: 62.09%;
  background-color: #2A2A2A;
  bottom: 0;
  left: 0;
}

.banner_pc_screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner_mobile {
  position: absolute;
  width: 8.86%;
  padding-bottom: calc(8.86% * 2.03);
  bottom: 0;
  left: 19vw;
}

.banner_mobile_frame, .banner_mobile_head {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner_mobile_main {
  position: absolute;
  width: 90.53%;
  height: 95.83%;
  top: 2.2%;
  left: 5%;
  background-color: #3D3D3D;
  border-radius: 16px;
  overflow: hidden;
}

.banner_mobile_screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.banner_man_1 {
  width: 6.88vw;
  position: absolute;
  left: 20%;
  bottom: -3.13vw;
}

.banner_man_2 {
  width: 7.5vw;
  position: absolute;
  right: 24.38%;
  bottom: -3.82vw;
}

.banner_woman {
  width: 9.31vw;
  position: absolute;
  right: 12%;
  bottom: -3.96vw;
}

@media screen and (max-width: 1199px) {
  .banner {
    padding-bottom: 45%;
  }
  .banner_pc {
    width: 45%;
    padding-bottom: calc(45% * 0.6845);
  }
  .banner_mobile {
    width: 7.72%;
    padding-bottom: calc(7.72% * 2.03);
    left: 23vw;
  }
  .banner_mobile_main {
    border-radius: 13px;
  }
  .banner_man_1 {
    left: 18%;
  }
  .banner_man_2 {
    right: 22%;
  }
  .banner_woman {
    right: 10%;
  }
}

@media screen and (max-width: 991px) {
  .banner h1 {
    font-size: 42px;
  }
  .banner_pc {
    width: 50%;
    padding-bottom: calc(50% * 0.6845);
    bottom: -4vw;
  }
  .banner_mobile {
    width: 8.58%;
    padding-bottom: calc(8.58% * 2.03);
    left: 20vw;
  }
  .banner_mobile_main {
    border-radius: 11px;
  }
  .banner_man_1 {
    left: 14%;
  }
  .banner_man_2 {
    right: 19%;
  }
  .banner_woman {
    right: 6%;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    padding-bottom: 70%;
    background-image: url(../img/banner_style_m.png), url(../img/bg-1.png);
  }
  .banner h1 {
    top: 10vw;
  }
  .banner_pc {
    width: 80%;
    padding-bottom: calc(80% * 0.6845);
    bottom: -8vw;
  }
  .banner_mobile {
    width: 13.73%;
    padding-bottom: calc(13.73% * 2.03);
    left: 5vw;
  }
  .banner_mobile_main {
    border-radius: 11px;
  }
}

@media screen and (max-width: 575px) {
  .banner {
    padding-bottom: 90%;
  }
  .banner h1 {
    font-size: 36px;
    top: 20vw;
  }
  .banner_mobile {
    bottom: -4vw;
  }
}

@media screen and (max-width: 350px) {
  .banner h1 {
    font-size: 32px;
    top: 22vw;
  }
}

.main {
  padding-top: 10.69vw;
  background-size: 100%;
  background-position: 0 0;
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 18vw;
  }
}

.content .title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.content .text {
  color: #afb8bf;
  line-height: 1.5;
  margin-bottom: 40px;
  letter-spacing: 0.05em;
  text-align: justify;
}

.content .highlight {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 25px 30px;
  position: relative;
  color: #5E5E5E;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
}

.content .highlight p {
  margin: 0;
}

.content .highlight::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #BD0008;
  top: 0;
  left: 0;
}

.content .table {
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.content .table-box {
  padding: 110px 20px;
  background-image: url(../img/bg-2.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 85px 0 0;
  position: relative;
  z-index: 0;
}

.content .table-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#001E4A), to(rgba(0, 30, 74, 0)));
  background: linear-gradient(to bottom, #001E4A 0%, rgba(0, 30, 74, 0) 100%);
  top: 0;
  left: 0;
}

.content .table td {
  padding: 15px 25px;
  vertical-align: middle;
}

.content .table tr {
  border-bottom: 1px solid #d6d6d6;
}

.content .table tr:last-child {
  border-color: transparent;
}

.content .table_title {
  color: #BD0008;
  font-size: 18px;
  font-weight: 600;
  border-left: 5px solid #BD0008;
  position: relative;
  width: 170px;
}

.content .table_title::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #c2c2c2;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .table_intro {
  color: #5E5E5E;
  width: calc(100% - 170px);
}

.content .pic {
  width: 100%;
  position: relative;
  margin-bottom: 55px;
}

.content .pic > img {
  width: 100%;
}

.content .pic_name {
  border-radius: 100px;
  padding: 3px 15px;
  color: #fff;
  background-color: #DB1D26;
  position: absolute;
  left: 17px;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.content .bg-3 {
  padding: 100px 0 150px;
  background-image: url(../img/bg-3.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .content .bg-3 {
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767px) {
  .content .table {
    display: block;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .content .table tr, .content .table td {
    display: block;
  }
  .content .table td {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .content .table tr {
    margin-bottom: 20px;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-left: 5px solid #BD0008 !important;
  }
  .content .table_title {
    border: 0;
    padding-bottom: 0 !important;
  }
  .content .table_title::after {
    display: none;
  }
  .content .table-box {
    padding: 60px 20px;
  }
  .content .bg-3 {
    padding-top: 60px;
    background-image: url(../img/bg-3-m.png);
    background-position: right bottom;
  }
}

@media screen and (max-width: 575px) {
  .content .title {
    font-size: 32px;
  }
  .content .highlight {
    padding: 20px;
  }
  .content .bg-3 {
    padding-bottom: 150px;
  }
}

.evaluate_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 20px;
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
  background-color: #345b95;
  border-radius: 10px 10px 0 0;
}

.warn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 25px;
  background: #153463;
  border: 1px solid #AFB8BF;
  border-radius: 15px;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.warn > div {
  margin-bottom: 8px;
}

.warn h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
  white-space: nowrap;
  width: 80px;
}

.warn p {
  color: #AFB8BF;
  margin: 0;
  line-height: 1.5;
  padding-left: 15px;
  width: calc(100% - 80px);
}

@media screen and (max-width: 575px) {
  .warn {
    display: block;
  }
  .warn h3 {
    margin-bottom: 5px;
  }
  .warn p {
    padding: 0;
    width: 100%;
  }
  .warn > div {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .warn > div:last-child {
    border: 0;
    margin: 0;
  }
}

.fixed-btn {
  width: 390px;
  height: 70px;
  border-radius: 100px;
  text-decoration: none;
  background-color: #BD0008;
  border: 2px solid #BD0008;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 30px;
  left: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 100px auto 0;
}

.fixed-btn:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 991px) {
  .fixed-btn {
    width: calc((100% - 60px) / 2);
    height: 50px;
    font-size: 20px;
  }
  .fixed-btn.contact {
    -webkit-transform: translateX(calc(-100% - 10px));
            transform: translateX(calc(-100% - 10px));
  }
  .fixed-btn.contact:hover {
    -webkit-transform: translateX(calc(-100% - 10px)) scale(1.1);
            transform: translateX(calc(-100% - 10px)) scale(1.1);
  }
  .fixed-btn.try {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .fixed-btn.try:hover {
    -webkit-transform: translateX(10px) scale(1.1);
            transform: translateX(10px) scale(1.1);
  }
}

.footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */